@media (max-width: 1313px) {
    .container{
        width: auto !important;
    }
}
@media (max-width: 1250px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        padding-top: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    nav{
        ul{
            li{
                padding-bottom: 10px;
                &.active{
                    &::before{ display: none !important; }
                }
            }
        }
    }
    .visible-mobile{
        display: inherit !important;
        margin-bottom: 20px;
    }
    nav{ ul{ padding: 0 !important; }}
    nav{
        .navbar-brand{ display: inline-block !important; }
    }
    header.header{
        .logo{
            padding: 0 !important;
        }
    }
}
@media (max-width: 1199px) {
    aside{
        margin-top: 30px;
        .elements-aside{
            padding-left: 0 !important;
        }
    }
    .services-app{
        margin-bottom: 50px !important;
    }
}
@media (max-width: 1024px) {
    input,
    select{
        width: 95% !important;
    }
    .register-form input[type="radio"], .register-form input[type="checkbox"]{ width: auto !important; }
    .menu{
        .logo{
            a{ display: inline-block; }
        }
    }
    .account-zone{
        .form-intials{
            input, select {
                width: 89% !important;
            }
            &.accordion{ margin-top: 30px; }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .blog.preview{
       .item-blog{
           &:nth-child(3){ display: none; }
        }
    }
    .video-how-to{
        margin-top: 50px;
    }
    .emergency-number, .emergency-number.email{
        text-align: center !important;
        margin-bottom: 30px;
    }
    nav{
        ul{
            li{
                margin-right: 25px !important;
            }
        }
        .flat-mega-menu{ display: none !important; }
    }
    .search-appointment{
        margin-bottom: 50px;
        select{
            width: 95%;
            background-position: 98% 45%;
        }
    }
    .login{
        .login-form{
            .form-login{
                input, select{
                    width: 90% !important;
                }
            }
        }
    }
    .blog{
        aside{
            padding-left: 15px !important;
        }
    }
}
@media (max-width: 901px) {
    .main-container{
        .listed{
            .item-meeting{
                .avatar-doctor{
                    .avatar-image{
                        width: 220px !important;
                    }
                }
                .data-meeting{
                    ul{
                        li{
                            margin-right: 5px !important;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        aside{
            &.vertical{
                margin-top: 0 !important;
                .elements-aside{
                    ul{
                        li{
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
    header.header{
        .menu{
            .menu-nav{
                ul{
                    li{
                        margin: 0 !important;
                        margin-left: 18px !important;
                        margin-bottom: 10px !important;
                    }
                }
            }
        }
    }
    .icon-data{
        width: 15px !important;
    }
    .login{
        .login-form{
            .form-login{
                input, select{
                    width: 95% !important;
                }
            }
        }
    }
    header{
        .tools-top{
            text-align: left !important;
            margin-top: 30px;
            .avatar-profile{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .tools-help{
            float: none !important;
            display: inline-block;
        }
    }
}
@media (max-width: 769px) {
    .main-container{
        .listed{
            .item-meeting{
                .avatar-doctor{
                    .avatar-image{
                        width: auto !important;
                        margin-left: 0 !important;
                        padding: 30px 0 30px 15px !important;
                    }
                }
                .date{
                    position: relative !important;
                    width: 100% !important;
                    padding: 20px 40px !important;
                    .date-calendar{
                        position: relative !important;
                        bottom: auto !important;
                    }
                }
            }
        }
    }
    .make-book .book-form{
        max-width: 100% !important;
    }
    .services{
        margin: 50px 15px 0 15px !important;
        padding: 0 !important;
        ul{
            li{
                width: 100% !important;
                float: none !important;
                min-height: auto !important;
                margin: 15px 0 !important;
            }
        }
    }
    .services-app {
        margin: 0 0 50px 0 !important;
    }
    header.header{
        min-height: 550px !important;
        .hero-msj {
            p{ line-height: 26px !important; }
            h1{
                font-size: 27px !important;
                line-height: 37px !important;
                padding-top: 70px !important;
            }
        }
        .navbar-header{
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}
@media (max-width: 701px) {
    .box-listed{
        .box-item-list{
            .type-icon{
                float: none !important;
                margin-bottom: 10px;
                margin-right: 10px !important;
            }
        }
    }
    .account-zone{
        .form-intials{
            input, select {
                width: 94% !important;
            }
        }
    }
}
@media (max-width: 652px) {
    .make-book{
        min-height: 680px !important;
    }
    .box-listed{
        .box-item-list{
            .type-test{
                margin-left: 0 !important;
                display: block;
            }
            .download-link{
                float: none !important;
                display: block;
            }
        }
    }
    .navbar-nav {
        margin: 0 15px !important;
    }
    .list-blog{
        .gallery-list-post{
            li{
                width: 48% !important;
            }
        }
    }
    .icon-data {
        width: 26px !important;
    }
    input, select {
        width: 92% !important;
    }
    .main-container .listed .item-meeting .data-meeting{  padding: 0 30px 30px 30px !important; }
    .register-form select, .register-form input{
        width: 86% !important;
    }
    .login .login-form .form-login input, .login .login-form .form-login select {
        width: 87% !important;
    }
    header.header{
        .navbar-collapse{
            padding-right: 0 !important;
            margin-right: 0 !important;
            ul{
                padding: 0;
                text-align: right;
                margin-right: 0;
            }
        }
    }
    .preview-appointment{
        .preview-doctor{
            float: none !important;
        }
        ul{
            margin-top: 20px;
            padding: 0;
        }
    }
}
@media (max-width: 570px) {
    .main-container{
        .listed{
            .item-meeting{
                .avatar-doctor{ padding: 0 15px 0 0 !important; }
                .data-meeting{
                     padding: 0 20px 10px 20px !important;
                }
            }
        }
    }
    .make-book{
        .book-form{
            padding: 40px !important;
        }
    }
    .login {
        .data-form {
            input,select{
                width: 87% !important;
            }
        }
    }
    .make-book{
        .book-form{
            select,input{
                width: 90% !important;
            }
        }
    }
    .filters{
        ul li{
            &:first-child{ margin: 20px 10px 20px 0 !important; }
        }
    }
    .help-box{ width: auto !important; }
    footer .sponsors span{
        padding: 10px;
    }
    .book-calendar{
        overflow-x: auto;
        min-height: 0.01%;
    }
}
@media (max-width: 415px) {
    .login {
        .login-form{
            .login-data{
                margin: 70px 0 50px 0 !important;
                padding: 45px !important;
                .form-login{
                    input, select{
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .main-container{
        .listed{
            .filters{
                ul,h4{
                    float: none !important;
                }
            }
            .item-meeting{
                .data-meeting{
                    span{
                        float: none !important;
                        display: block;
                    }
                }
            }
        }
    }
    select,input,
    .register-form select, .register-form input,
    .login .login-form .form-login input, .login .login-form .form-login select,
    .account-zone .form-intials input, .account-zone .form-intials select{
        width: 100% !important;
        margin: 0 0 15px 0 !important;
    }
    .single-post .leave-comment .comment-post input{
        margin: 10px 0 20px 0px;
    }
    .icon-data{
        float: none !important;
    }
    .account-zone{
        .form-intials{
            input, select {
                width: 89% !important;
            }
        }
    }
    .login .data-form {
        margin: 70px 0 50px 0 !important;
        padding: 40px !important;
    }
    .main-container{
        padding: 20px 30px 40px 30px !important;
    }
}
@media (max-width: 375px) {
    .login {
        .login-form{
            .login-data{
                i{ display: none !important; }
                .form-login{
                    input, select{
                        width: 100% !important;
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
}
